  .has-fade {
    visibility: hidden;
  }
  
  @-webkit-keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  @keyframes fade-in {
    from {
      visibility: hidden;
      opacity: 0;
    }
    1% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: visible;
      opacity: 1;
    }
  }
  
  .fade-in {
    -webkit-animation: fade-in 200ms ease-in-out forwards;
            animation: fade-in 200ms ease-in-out forwards;
  }
  
  @-webkit-keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @keyframes fade-out {
    from {
      visibility: visible;
      opacity: 1;
    }
    99% {
      visibility: visible;
      opacity: 0;
    }
    to {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  .fade-out {
    -webkit-animation: fade-out 200ms ease-in-out forwards;
            animation: fade-out 200ms ease-in-out forwards;
  }
  
  html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  *, *::before, *::after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    font-family: Lato, sans-serif;
    font-size: 1.125rem;
  }
  
  body.no-scroll {
    overflow: hidden;
  }
  
  h1, h2, h3 {
    margin-top: 0px;
  }
  
  a, a:visited, a:hover {
    text-decoration: none;
  }
  
  .container {
    max-width: 69.379rem;
    margin: 0 auto;
  }
  
  .container--pyall {
    padding: 2.25rem 1.5rem;
  }
  
  .container--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  
  .container--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .container--pt {
    padding-top: 2.25rem;
  }
  
  .container--pr {
    padding-right: 1.5rem;
  }
  
  .container--pb {
    padding-bottom: 2.25rem;
  }
  
  .container--pl {
    padding-left: 1.5rem;
  }
  
  .container-header {
    padding-top: 2.25rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .flex-jc-sb {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .flex-jc-c {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .flex-ai-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .button {
    display: inline-block;
    border-radius: 20px;
    padding: 0.875rem 2.1875rem;
    -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    font-size: 0.9375rem;
    text-align: left;
    text-shadow: 1px 1px 5px #666;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  
  .button:hover {
    opacity: 0.75;
  }
  
  .button__doar {
    background: #2b6169;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(#41939f), color-stop(50%, #2b6169), to(#41939f));
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, #41939f 0%, #2b6169 50%, #41939f 100%);
    color: white;
  }
  
  .button__receber {
    background-color: #fbb428;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(251, 180, 40, 0.685))), -webkit-gradient(linear, left top, right top, from(#fcce73), color-stop(50%, #fbb428), to(#fcce73));
    background: linear-gradient(to bottom, transparent 0%, rgba(251, 180, 40, 0.685) 100%), linear-gradient(to right, #fcce73 0%, #fbb428 50%, #fcce73 100%);
    color: black;
  }
  
  @media (max-width: 63.9375em) {
    .hide-for-mobile {
      display: none;
    }
  }
  
  @media (min-width: 64em) {
    .hide-for-desktop {
      display: none;
    }
  }
  
  .header.open .header__menu > span:first-child {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  
  .header.open .header__menu > span:nth-child(2) {
    opacity: 0;
  }
  
  .header.open .header__menu > span:last-child {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .header .overlay {
    opacity: 0;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#2b6169), to(transparent));
    background-image: linear-gradient(#2b6169, transparent);
  }
  
  .header nav {
    position: relative;
    background-color: #fbb428;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  
  .header__logo img {
    width: 14.1875rem;
    height: 3.125rem;
  }
  
  .header__menu > span {
    display: block;
    width: 26px;
    height: 2px;
    background-color: #2b6169;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -webkit-transform-origin: 3px 1px;
            transform-origin: 3px 1px;
  }
  
  .header__menu > span:not(:last-child) {
    margin-bottom: 5px;
  }
  
  .header__toggle {
    z-index: 1;
    background: white;
    margin-top: 1.5rem;
    padding: 1.625rem 0;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 3rem);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  
  .header__toggle a {
    display: block;
    font-size: 0.9375rem;
    text-align: center;
    color: #2b6169;
    padding: 0.625rem;
  }
  
  .header__links a {
    position: relative;
    font-size: 1.125rem;
    color: #2b6169;
    -webkit-transition: color 300ms ease-in-out;
    transition: color 300ms ease-in-out;
  }
  
  .header__links a:not(:last-child) {
    margin-right: 1.875rem;
  }
  
  .header__links a::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -38px;
    background: #2b6169;
    opacity: 0;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
  }
  
  .header__links a:hover {
    color: #2b6169;
  }
  
  .header__links a:hover::before {
    opacity: 1;
  }
  
  .hero {
    margin-bottom: 33px;
  }
  
  @media (min-width: 64em) {
    .hero .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .hero__image {
    position: relative;
    background-image: url("../../images/undraw_true_friends_c94g-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }
  
  @media (min-width: 64em) {
    .hero__image {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      background-size: 125%;
      min-height: 50rem;
    }
  }
  
  .hero__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .hero__text {
    text-align: center;
  }
  
  @media (min-width: 64em) {
    .hero__text {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      text-align: left;
    }
  }
  
  .hero__text h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.15;
    color: #2b6169;
    margin-top: 10px;
    margin-bottom: 0.62rem;
  }
  
  @media (min-width: 64em) {
    .hero__text h1 {
      font-size: 3.25rem;
    }
  }
  
  .hero__text p {
    line-height: 1.5;
    font-size: 0.9375rem;
  }
  
  @media (min-width: 64em) {
    .hero__text p {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
  
  .footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #2b6169;
    color: white;
    padding: 20px;
  }
  
  @media (min-width: 64em) {
    .footer {
      position: fixed;
      text-align: end;
      font-size: 1.125rem;
    }
  }
  
  .footer a {
    color: white;
  }
  
  .footer__copyright {
    position: relative;
    font-size: 0.9375rem;
  }
  
  @media (min-width: 64em) {
    .about .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .about__image {
    position: relative;
    background-image: url("../../images/undraw_well_done_i2wr.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }
  
  @media (min-width: 64em) {
    .about__image {
      -webkit-box-flex: 4;
          -ms-flex: 4;
              flex: 4;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      background-size: 100%;
      min-height: 50rem;
    }
  }
  
  .about__image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  
  .about__text {
    background-color: #fbb428;
    text-align: center;
    padding: 20px;
  }
  
  @media (min-width: 64em) {
    .about__text {
      padding: 40px;
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      margin-left: 100px;
    }
  }
  
  .about__text h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.30;
    color: #2b6169;
    margin-top: 10px;
    margin-bottom: 0.62rem;
  }
  
  @media (min-width: 64em) {
    .about__text h1 {
      font-size: 3.25rem;
    }
  }
  
  .about__text p {
    line-height: 1.6;
    text-align: justify;
    font-size: 0.9375rem;
  }
  
  @media (min-width: 64em) {
    .about__text p {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
  
  .donate {
    margin-bottom: 33px;
  }
  
  @media (min-width: 64em) {
    .donate .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .donate__image {
    position: relative;
    background-image: url("../../images/undraw_Gift_box_re_vau4.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }
  
  @media (min-width: 64em) {
    .donate__image {
      -webkit-box-flex: 3;
          -ms-flex: 3;
              flex: 3;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      background-size: 100%;
      min-height: 50rem;
    }
  }
  
  .donate__image::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }
  
  .donate__text {
    text-align: center;
  }
  
  @media (min-width: 64em) {
    .donate__text {
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      text-align: left;
    }
  }
  
  .donate__text h1 {
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1.15;
    color: #2b6169;
    margin-top: 10px;
    margin-bottom: 0.62rem;
  }
  
  @media (min-width: 64em) {
    .donate__text h1 {
      font-size: 3.25rem;
    }
  }
  
  .donate__text p {
    line-height: 1.5;
    font-size: 0.9375rem;
  }
  
  @media (min-width: 64em) {
    .donate__text p {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }
  /*# sourceMappingURL=style.css.map */

.inputLine{
    padding:0.625rem;
    border:0.125rem solid;
    margin:0.625rem;
    border-color: #fbb428;
    border-radius: 1rem;
    width: 43.75rem;
    height: 4.5rem;
  }
.inputLine>label{
    position:absolute;
    top: -0.063rem;
    left: 1.25rem;
    background-color:white;
  }
  
.inputLine>input{
    border:none;
  }

#nameResp{
    width: 40rem;
    height: 2rem;
  }

#cpfResp{
    width: 40rem;
    height: 2rem;
}

#telContact{
    width: 40rem;
    height: 2rem;
}

#kidName{
    width: 40rem;
    height: 2rem;
}

#kidSchool{
    width: 40rem;
    height: 2rem;
}

#kidRegister{
    width: 40rem;
    height: 2rem;
}

.formularioCadastro{
    position: absolute;
    top: 15rem;
    left: 11rem;
}

.listOfMaterials{
    position: absolute;
    top: 15rem;
    right: 13.5rem;
    bottom: 11.5rem;
    width: 39.125rem;
    height: 35.063rem;
    background-color: #fbb429;
    border-radius: 1.25rem;
    text-align: center;
}

.itensList{
    background-color: white;
    width: 33.375rem;
    height: 21.313rem;
    border-radius: 1.25rem;
    margin-left: 3rem;
    overflow-x: hidden;
    overflow-y: scroll;
  } 
  
.buttonConfirm{
    width: 23.5rem;
    height: 6.813rem;
    position: absolute;
    top: 25rem;
    left: 45rem;
    background-color: #fbb429;
    border-radius: 1.25rem;
    font-family: Lato;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}  

#txtnum{
    width: 40rem;
    height: 4rem;
    font-size: 3.5rem;
}

.inputLineA{
    padding:0.625rem;
    border:0.125rem solid;
    margin:0.625rem;
    border-color: #fbb428;
    border-radius: 1rem;
    width: 43.75rem;
    height: 7.375rem;
  }
.inputLineA>label{
    position:absolute;
    top: -0.063rem;
    left: 1.25rem;
    background-color:white;
  }
  
.inputLineA>input{
    border:none;
  }

.inputLineB{
    position: absolute;
    top: 23rem;
    left: 38.125rem;
}

.womanGift{
  position: absolute;
  top: 12rem;
  left:13.813rem; 
  width: 43.188rem;
  height: 38rem;
  background-image: url(../images/woman_gift.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#newChildButton{
  width: 23.5rem;
  height: 6.813rem;
  position: absolute;
  left: 67.5rem;
  top: 25rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#followChildButton{
  width: 23.5rem;
  height: 6.813rem;
  position: absolute;
  left: 67.5rem;
  top: 35rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.childName{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 39rem;
  height: 8.25rem;
  position: absolute;
  top: 10rem;
  left: 18.5rem;
}

.guyBook{
  width: 39rem;
  height: 19rem;
  background-image: url(../images/book_guy.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12.25rem;
  left: 82rem;
}

.processNum{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 13.5rem;
  height: 8.25rem;
  position: absolute;
  top: 20rem;
  left: 18.5rem;
}

.receiveValue{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 32.5rem;
  height: 8rem;
  position: absolute;
  top: 38rem;
  left: 89rem;
}

.Materials{
  width: 39.125rem;
  height: 35.063rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  text-align: center;
  position: absolute;
  top: 30rem;
  left: 18.5rem;
}

#rescueButton{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 33rem;
  height: 7.5rem;
  position: absolute;
  top: 50.25rem;
  left: 89rem;
}