 .inputLine{
    padding:0.625rem;
    border:0.125rem solid;
    margin:0.625rem;
    border-color: #fbb428;
    border-radius: 1rem;
    width: 43.75rem;
    height: 4.5rem;
  }
.inputLine>label{
    position:absolute;
    top: -0.063rem;
    left: 1.25rem;
    background-color:white;
  }
  
.inputLine>input{
    border:none;
  }

#nameResp{
    width: 40rem;
    height: 2rem;
  }

#cpfResp{
    width: 40rem;
    height: 2rem;
}

#telContact{
    width: 40rem;
    height: 2rem;
}

#kidName{
    width: 40rem;
    height: 2rem;
}

#kidSchool{
    width: 40rem;
    height: 2rem;
}

#kidRegister{
    width: 40rem;
    height: 2rem;
}

.formularioCadastro{
    position: absolute;
    top: 15rem;
    left: 11rem;
}

.listOfMaterials{
    position: absolute;
    top: 15rem;
    right: 13.5rem;
    bottom: 11.5rem;
    width: 39.125rem;
    height: 35.063rem;
    background-color: #fbb429;
    border-radius: 1.25rem;
    text-align: center;
}

.itensList{
    background-color: white;
    width: 33.375rem;
    height: 21.313rem;
    border-radius: 1.25rem;
    margin-left: 3rem;
    overflow-x: hidden;
    overflow-y: scroll;
  } 
  
.buttonConfirm{
    width: 23.5rem;
    height: 6.813rem;
    position: absolute;
    top: 25rem;
    left: 45rem;
    background-color: #fbb429;
    border-radius: 1.25rem;
    font-family: Lato;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
    text-align: center;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}  

#txtnum{
    width: 40rem;
    height: 4rem;
    font-size: 3.5rem;
}

.inputLineA{
    padding:0.625rem;
    border:0.125rem solid;
    margin:0.625rem;
    border-color: #fbb428;
    border-radius: 1rem;
    width: 43.75rem;
    height: 7.375rem;
  }
.inputLineA>label{
    position:absolute;
    top: -0.063rem;
    left: 1.25rem;
    background-color:white;
  }
  
.inputLineA>input{
    border:none;
  }

.inputLineB{
    position: absolute;
    top: 23rem;
    left: 38.125rem;
}

.womanGift{
  position: absolute;
  top: 12rem;
  left:13.813rem; 
  width: 43.188rem;
  height: 38rem;
  background-image: url(../images/woman_gift.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#newChildButton{
  width: 23.5rem;
  height: 6.813rem;
  position: absolute;
  left: 67.5rem;
  top: 25rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

#followChildButton{
  width: 23.5rem;
  height: 6.813rem;
  position: absolute;
  left: 67.5rem;
  top: 35rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
}

.childName{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 39rem;
  height: 8.25rem;
  position: absolute;
  top: 10rem;
  left: 18.5rem;
}

.guyBook{
  width: 39rem;
  height: 19rem;
  background-image: url(../images/book_guy.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 12.25rem;
  left: 82rem;
}

.processNum{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 13.5rem;
  height: 8.25rem;
  position: absolute;
  top: 20rem;
  left: 18.5rem;
}

.receiveValue{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 32.5rem;
  height: 8rem;
  position: absolute;
  top: 38rem;
  left: 89rem;
}

.Materials{
  width: 39.125rem;
  height: 35.063rem;
  background-color: #fbb429;
  border-radius: 1.25rem;
  text-align: center;
  position: absolute;
  top: 30rem;
  left: 18.5rem;
}

#rescueButton{
  background-color: #fbb429;
  text-align: center;
  border-radius: 1.25rem;
  font-family: Lato;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: center;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  width: 33rem;
  height: 7.5rem;
  position: absolute;
  top: 50.25rem;
  left: 89rem;
}

.constructImg{
  width: 73rem;
  height: 45rem;
  background-image: url(../images/contruct.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20rem;
  left: 23rem;
}