.header {

    nav {
        background-color: #FBB429;
    }

    &__logo {
        img {
            width: 421px;
            height: 115px; 
        }
    }

    &__menu { // Mobile Menu

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: gray;
            margin-right: 100px;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        }
    }

    &__links {
       a {
           font-size: $font-med;
       }
    }
}