.formularioCadastro {
    
    @include breakpoint-down(small) {
        top: auto;
        left:auto;
        bottom: auto;
        right: auto;
        position: relative;

        fieldset.inputLine, #nameResp, #cpfResp, #telContact, #kidName, #kidSchool, #kidRegister {
            width: 18rem;
            font-size: $font-sm;
        }        
    }    
}

.listOfMaterials {
    
    @include breakpoint-down(small) {
        display: block;
        position:relative;

        padding: 0.5rem;
        margin-bottom: 5px;

        top: auto;
        left:auto;
        right:auto;
        bottom:auto;
        width:auto;
        height:auto;

        h1 {
            font-size: $font-med;
            padding-top: 5px;
            
            .container--py {
                padding-top: 1.25rem;
                padding-bottom: 2.25rem;
            }
        }

        .itensList {
            display: inline-block;
            position:relative;
            margin: 0;
            padding: 8rem;
            top: auto;
            left:auto;
            width:auto;
            height: auto;  
        }
    }
}

