.formularioCadastro {
    
    @include breakpoint-down(small) {
        display: flex;
        flex-direction: column;
        top: auto;
        left:auto;
        bottom: auto;
        right: auto;
        position: relative;

        .input-group {
            width: 18rem;
            font-size: $font-sm;
        }
        
        #nameResp, #cpfResp, #telContact, #kidName, #kidSchool, #kidRegister {
            width: 15rem;
            height: 1.9rem;
            align-self: center;
            padding: 0;
          }
    }    
}

.listOfMaterials {
    
    @include breakpoint-down(small) {
        position:relative;

        padding: 0.5rem;
        margin-bottom: 5px;

        top: auto;
        left:auto;
        right:auto;
        bottom:auto;
        width:auto;
        height:auto;

        h1 {
            font-size: $font-med;
            padding-top: 5px;
            
            .container--py {
                padding-top: 1.25rem;
                padding-bottom: 2.25rem;
            }
        }

        .itensList {
            position:relative;
            margin: 0;
            top: auto;
            left:auto;
            width:auto;
            height: auto;
            text-align: left;
            padding: 10px; 
        }
    }
}

.buttonConfirm {
    @include breakpoint-down(small) {
        top: auto;
        left:auto;
        bottom: auto;
        right: auto;
        position: relative;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 15px;
        width: 250px;
        height: 50px;
    }
}

