.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: Lato, sans-serif;
  font-size: 1.125rem;
}

body.no-scroll {
  overflow: hidden;
}

.title {
  text-align: center;
  padding-top: 30px;
}

h1, h2, h3 {
  margin-top: 0px;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.379rem;
  margin: 0 auto;
}

.container--pyall {
  padding: 2.25rem 1.5rem;
}

.container--py {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.container--px {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.container--pt {
  padding-top: 2.25rem;
}

.container--pr {
  padding-right: 1.5rem;
}

.container--pb {
  padding-bottom: 2.25rem;
}

.container--pl {
  padding-left: 1.5rem;
}

.container-header {
  padding-top: 2.25rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.button {
  display: inline-block;
  border-radius: 20px;
  padding: 0.875rem 2.1875rem;
  -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.9375rem;
  text-align: left;
  text-shadow: 1px 1px 5px #666;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.button:hover {
  opacity: 0.75;
}

.button__doar {
  background: #2b6169;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4))), -webkit-gradient(linear, left top, right top, from(#41939f), color-stop(50%, #2b6169), to(#41939f));
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.4) 100%), linear-gradient(to right, #41939f 0%, #2b6169 50%, #41939f 100%);
  color: white;
}

.button__receber {
  background-color: #fbb428;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(251, 180, 40, 0.685))), -webkit-gradient(linear, left top, right top, from(#fcce73), color-stop(50%, #fbb428), to(#fcce73));
  background: linear-gradient(to bottom, transparent 0%, rgba(251, 180, 40, 0.685) 100%), linear-gradient(to right, #fcce73 0%, #fbb428 50%, #fcce73 100%);
  color: black;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.search {
  border: 0.125rem solid;
  border-color: #2b6169;
  border-radius: 1rem;
  padding: 10px;
  width: 19.75rem;
  height: 3.5rem;
  margin-bottom: 10px;
}

@media (min-width: 64em) {
  .search {
    padding: 0.625rem;
    border: 0.125rem solid;
    margin: 0.625rem;
    border-color: #2b6169;
    border-radius: 1rem;
    width: 100%;
    height: 4.5rem;
  }
}

.kidsCard {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2b6169;
  border-radius: 20px;
  height: 3.5rem;
  margin-bottom: 10px;
}

@media (min-width: 64em) {
  .kidsCard {
    padding: 0.625rem;
    margin: 0.625rem;
    border-color: #2b6169;
    border-radius: 1rem;
    width: 100%;
    height: 4.5rem;
  }
}

.kidsCard__body {
  color: white;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .kidsCard__body {
    font-size: 1.125rem;
  }
}

.kidsCard__icon {
  background-image: url("/images/card_aluno.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 40px;
  width: 50px;
  margin-right: 15px;
  margin-left: 15px;
}

.kidsCard:hover {
  opacity: 0.7;
}

.popupbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  color: white;
  font-size: 1.125rem;
  text-align: left;
}

.popupbox:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #2b6169;
  border-radius: 5px;
  width: 90%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .materials {
  max-height: 30%;
  overflow: auto;
}

fieldset {
  background-color: white;
  color: black;
  border-radius: 20px;
  margin-bottom: 10px;
}

.materials {
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 10px;
  text-align: center;
}

.donation-image {
  position: relative;
  background-image: url("../../images/undraw_send_gift_7o4m.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 150px;
}

.header.open .header__menu > span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header.open .header__menu > span:nth-child(2) {
  opacity: 0;
}

.header.open .header__menu > span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2b6169), to(transparent));
  background-image: linear-gradient(#2b6169, transparent);
}

.header nav {
  position: relative;
  background-color: #fbb428;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.header__logo img {
  width: 14.1875rem;
  height: 3.125rem;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #2b6169;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  -webkit-transform-origin: 3px 1px;
          transform-origin: 3px 1px;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__toggle {
  z-index: 1;
  background: white;
  margin-top: 1.5rem;
  padding: 1.625rem 0;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 3rem);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header__toggle a {
  display: block;
  font-size: 0.9375rem;
  text-align: center;
  color: #2b6169;
  padding: 0.625rem;
}

.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #2b6169;
  -webkit-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out;
}

.header__links a:not(:last-child) {
  margin-right: 1.875rem;
}

.header__links a::before {
  content: "";
  display: block;
  position: absolute;
  height: 5px;
  left: 0;
  right: 0;
  bottom: -38px;
  background: #2b6169;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.header__links a:hover {
  color: #2b6169;
}

.header__links a:hover::before {
  opacity: 1;
}

.hero {
  margin-bottom: 33px;
}

@media (min-width: 64em) {
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero__image {
  position: relative;
  background-image: url("../../images/undraw_true_friends_c94g-desktop.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 64em) {
  .hero__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-size: 125%;
    min-height: 50rem;
  }
}

.hero__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero__text {
  text-align: center;
}

@media (min-width: 64em) {
  .hero__text {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.hero__text h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.15;
  color: #2b6169;
  margin-top: 10px;
  margin-bottom: 0.62rem;
}

@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3.25rem;
  }
}

.hero__text p {
  line-height: 1.5;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .hero__text p {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #2b6169;
  color: white;
  padding: 20px;
}

@media (min-width: 64em) {
  .footer {
    position: fixed;
    text-align: end;
    font-size: 1.125rem;
  }
}

.footer a {
  color: white;
}

.footer__copyright {
  position: relative;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about__image {
  position: relative;
  background-image: url("../../images/undraw_well_done_i2wr.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 64em) {
  .about__image {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background-size: 100%;
    min-height: 50rem;
  }
}

.about__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.about__text {
  background-color: #fbb428;
  text-align: center;
  padding: 20px;
}

@media (min-width: 64em) {
  .about__text {
    padding: 40px;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 100px;
  }
}

.about__text h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.30;
  color: #2b6169;
  margin-top: 10px;
  margin-bottom: 0.62rem;
}

@media (min-width: 64em) {
  .about__text h1 {
    font-size: 3.25rem;
  }
}

.about__text p {
  line-height: 1.6;
  text-align: justify;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .about__text p {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

.donation {
  margin-bottom: 33px;
}

@media (min-width: 64em) {
  .donation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.donation__image {
  position: relative;
  background-image: url("../../images/undraw_Gift_box_re_vau4.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 17.5rem;
}

@media (min-width: 64em) {
  .donation__image {
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background-size: 60%;
    min-height: 50rem;
  }
}

.donation__image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.donation__box {
  text-align: center;
}

@media (min-width: 64em) {
  .donation__box {
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: left;
  }
}

.donation__box h1 {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.15;
  color: #2b6169;
  margin-top: 10px;
  margin-bottom: 0.62rem;
}

@media (min-width: 64em) {
  .donation__box h1 {
    font-size: 3.25rem;
  }
}

.donation__box p {
  line-height: 1.5;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .donation__box p {
    font-size: 1.125rem;
    font-weight: 400;
  }
}

@media (max-width: 39.9375em) {
  .newChild {
    max-width: 69.379rem;
    margin: 0 auto;
    padding: 0.25rem 1.5rem;
  }
  .newChild .womanGift {
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    position: relative;
    background-image: url(../../images/woman_gift.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 17.5rem;
  }
  .newChild #newChildButton {
    top: auto;
    left: auto;
    width: 239px;
    height: 60px;
    position: relative;
    border-radius: 20px;
    padding: 0;
    -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    text-shadow: 1px 1px 5px #666;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    margin-top: 22px;
    margin-left: 45px;
    margin-bottom: 40px;
  }
  .newChild #followChildButton {
    top: auto;
    left: auto;
    width: 239px;
    height: 60px;
    position: relative;
    border-radius: 20px;
    padding: 0;
    -webkit-box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
    font-size: 1.125rem;
    text-shadow: 1px 1px 5px #666;
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    margin-left: 45px;
    margin-bottom: 43px;
  }
}

@media (max-width: 39.9375em) {
  .formularioCadastro {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    position: relative;
  }
  .formularioCadastro fieldset.inputLine, .formularioCadastro #nameResp, .formularioCadastro #cpfResp, .formularioCadastro #telContact, .formularioCadastro #kidName, .formularioCadastro #kidSchool, .formularioCadastro #kidRegister {
    width: 18rem;
    font-size: 0.9375rem;
  }
}

@media (max-width: 39.9375em) {
  .listOfMaterials {
    display: block;
    position: relative;
    padding: 0.5rem;
    margin-bottom: 5px;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    width: auto;
    height: auto;
  }
  .listOfMaterials h1 {
    font-size: 1.125rem;
    padding-top: 5px;
  }
  .listOfMaterials h1 .container--py {
    padding-top: 1.25rem;
    padding-bottom: 2.25rem;
  }
  .listOfMaterials .itensList {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 8rem;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
  }
}

@media (max-width: 39.9375em) {
  .processoEmAndamento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .processoEmAndamento .childName, .processoEmAndamento .guyBook, .processoEmAndamento .processNum, .processoEmAndamento .processNum, .processoEmAndamento .receiveValue, .processoEmAndamento .Materials, .processoEmAndamento .itenList, .processoEmAndamento #rescueButton {
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    width: auto;
    position: relative;
    margin-bottom: 10px;
    font-size: 1.125rem;
  }
  .processoEmAndamento .guyBook {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-image: url(../../images/book_guy.svg);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    max-height: 17.5rem;
  }
  .processoEmAndamento .childName, .processoEmAndamento .processNum, .processoEmAndamento .receiveValue {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 300px;
    height: 50px;
    line-height: 0;
  }
  .processoEmAndamento .Materials {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .processoEmAndamento .itensList {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 250px;
    padding: 10px;
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */